html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  color: #fff;
  background-color: #dbd6cf;
  margin: 0;
}

header {
  border: 3px solid #595652;
  background-color: #79756f;
  padding: 0;
  margin: 0;
  text-align: center;
}

h1 {
  color: #fff;
  font-family: Bevan, serif;
  padding: .01em;
  margin: .01em;
}

.menu li {
  margin: .1em;
  padding: .6em;
  list-style-type: none;
  text-align: center;
  background-color: #713837;
  font-weight: normal;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-family: sans-serif;
}

a:hover {
  background-color: #f33;
}

ul {
  margin: .3em;
  padding: .75em;
  color: #fff;
  text-decoration: none;
}

a {
  color: #fff;
  text-decoration: none;
}
