html {
  font: normal 100%/1.5 Bevan, sanserif;
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: .3em;
}

header {
  border: 3px solid #595652;
  background-color: #79756f;
  padding: .75em;

}

h1 {
  background-color: #fff;
  font-family: Bevan, serif;
  padding: 0;
  margin: 0;
}


.nav li {
  margin: .1em;
  padding: .5em .75em;
  list-style-type: none;
  text-align: center;
  background-color: #713837;
  font-weight: normal;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-family: sans-serif;
}
 ul {
   margin: .3em;
   padding: 0;
   color: #fff;
   text-decoration: none;
}

.menu a:haver {
  background-color: #f33;
}

a:link {
  color: #fff;
  text-decoration: none;
}

body{
  background-color: #dbd6cf;
  margin: 0;
}
