html {
  font: normal 100%/1.5 Bevan, sanserif;
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: .3em;
}

header {
  background-color: #fff;
  padding: .75em;
}

h1 {
  background-color: #fff;
  font-family: "Sigmar One", cursive;
  padding: .5em .75em;
  margin: .3em;
  text-align: center;
  font-size: .6em`;
  color: #cc1465;

}

.nav {
  margin: .3em;
  padding: .5em .75em;
  list-style-type: none;
  text-align: center;
  background-color: #713837;
}

.nav li {
  display: inline-block;
}

.nav a {
  color: #fff;
  display: inline-block;
  padding: .5em .75em;
  background-color: #713837;
  Line height:: 1.5;
  text-decoration: none;
}

.nav a:hover {
  background-color:#713837;
}

.nav .current {
  background-color: #b2a212;
}


.text{
  padding-right: .75em;
  padding-left: .75em
}
